.container {
  background-color: rgb(88, 131, 164);
}

.icon {
  color: red;
  font-size: 2rem;
  position: absolute;
  right: 40px;
  top: 25px;
}

.done {
  text-decoration: line-through;
  background-color: rgb(10, 181, 50) !important;
  color: white !important;
}
